<div class="comment">
  <div class="upper-commente">
    <div class="comment-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= comment.user.name %>
    </div>
    <div class="comment-date">
      <!-- 投稿した時刻を出力する -->
      <%= l comment.created_at %>
    </div>
  </div>
  <div class="lower-comment">
    <div class="comment-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= comment.content %>
    </div>
    <%= image_tag comment.image, class: 'comment-image' %>
  </div>
</div>