<h1>Swapapp#index</h1>
<p>enjoy swapping!</p>
<div class="contents row">
<% @items.each do |item| %>
    <div class="content_post" style="background-image: url(<%= item.item_image %>);">
      <p><%= item.item_text %></p>
      <span class="name">
        <%= item.item_name %>
      </span>
      <% end %>