.field {
  text-align: center;
}

.form-group {
  text-align: center;
  box-sizing: border-box;
}

.input-birth-wrap {
  text-align: center;
}

.input-birth-wrap>select {
  width: 75px;
  margin-top: 5px 0 0 0;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p{
  display: block;
  display: flex;
  float
  line-height: 60px;
  margin: 0;
}

.error-alert {
margin: 0 auto;
}

.form-text-wrap {
  display: block;
  display:flex;
}

.field_with_errors {
  display: contents;
  }

#text_explanation ul {
  text-align: center;
}